<div class="flex flex-col">
  <div class="flex justify-start items-baseline gap-4">

    <div class="flex gap-4">
      <h1 class="mb-4 font-bold text-2xl">Tasks</h1>
      <%= link_to new_task_path do %>
        <%= image_tag "create-cropped.svg", alt: "Add task", class: "w-6 h-6 fill-current text-red-600 pt-1 hover:cursor-pointer" %>
        <% end  %>
      </div>
  </div>

  <% if @tasks.blank? %>
    <p>There are no tasks, please add a task here: <%= link_to "Create task", new_task_path %>.</p>
  <% else %>
    <div class="flex flex-col font-semibold">
      <% @tasks.each do |task| %>
        <div id="task-<%= task.id %>" class="bg-yellow-50 mb-4 border-[1px] rounded border-gray-400 px-4 py-2">
          <p class="font-semibold mb-4">Task: <%= task.title %></p>
          <div class="mb-4 py-2">
            <p class="font-semibold"><%= task.description %></p>
          </div>


          <p class="mb-4 text-gray-600"> status: <%= task.status %></p>
          <p class="mb-4 text-gray-600">Due: <%= task.due.strftime("%d-%m-%Y") %></p>

          <div class="flex justify-end">
            <%= button_to task_delete_path(task), method: :delete,
            form: {
              data: {
                controller: "delete-task",
                action: "turbo:submit-end->delete-task#removeRow",
                delete_task_target: "form"
              }
            },
            data: {
              turbo_confirm: "Are you Sure? This cannot be undone"
            } do %>
              <%= image_tag "delete.svg", alt: "Delete task", class: "w-8 h-8 fill-current text-red-600 pt-1 hover:cursor-pointer" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
