<div class="flex flex-col">
  <p class="mb-4 font-bold text-2xl">All Tasks</p>

  <% if @tasks.blank? %>
    <p>There are no tasks, please add a task here: <%= link_to "Create task", new_task_path %>.</p>
  <% else %>
    <div class="flex flex-col">
      <% @tasks.each do |task| %>
        <div class="mb-4 border border-gray-400 px-4 py-2">
          <p><%= task.title %></p>
          <p><%= task.description %></p>
          <p><%= task.status %></p>
          <p class="mb-4"><%= task.due %></p>

          <div class="flex gap-2 justify-between">
            <p><%= link_to "Show", task_path(task), class: "bg-gray-600 hover:bg-blue-700 text-white font-bold py-2 px-4" %></p>
            <p><%= button_to "delete", task_delete_path(task), method: :delete, class: "bg-gray-600 hover:bg-blue-700 text-white font-bold py-2 px-4", :data => { turbo: true, turbo_confirm: "Are you Sure? This cannot be undone" } %></p>

          </div>

        </div>
      <% end %>
    </div>
  <% end %>
</div>
