<p class="font-bold text-2xl"><%= @task.title %></p>
<div class="bg-yellow-50 mb-4 border-[1px] rounded border-gray-400 px-4 py-2">
  <p class="font-semibold mb-4">Task: <%= @task.title %></p>
  <div class="mb-4 py-2">
    <p class="font-semibold"><%= @task.description %></p>
  </div>


  <p class="mb-4 text-gray-600"> status: <%= @task.status %></p>
  <p class="mb-4 text-gray-600">Due: <%= @task.due.strftime("%d-%m-%Y") %></p>
</div>
